/*styles2.css*/
body {
     background-color: rgb(35, 129, 105);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}
footer {
  margin-top: auto;
  background-color: #0b3d30;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: sticky;
  bottom: 0;
  color: white;
}


.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 50px 20px;
    color: #0b3d30;
    background-color: #0b3d30;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background-color:#0b3d30;
}

section {
    padding: 60px 20px;
    background-color: rgb(120, 104, 198);
    margin: 10px;
    border-radius: 8px;
}

/*styles2.css*/
.botao-container {
    text-align: right;
    margin-top: 20px;
}

.aluno-btn {
    padding: 12px 24px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #0b3d30;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.aluno-btn:hover {
    background-color: #004080;
    transform: scale(1.05);
}